{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "ToyReact.createElement"
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["istanbul"]
    }
  }
}